body {
  background-color: #eefffa;
  padding: 20px;
  margin: 0;
  color: #001d1f;
  font-family: 'Raleway', sans-serif;
}
h1,
h2 {
  font-family: 'Indie Flower', serif;
}
header {
  margin-bottom: 20px;
}
header .nav {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0;
  margin: 0 auto;
  width: 700px;
}
header .nav__item {
  display: inline-block;
  list-style-type: none;
}
header .nav__item a {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  padding: 10px;
  margin: 10px;
  color: rgba(0, 0, 0, 0.6);
}
header .nav__item a:hover {
  color: #000000;
}
header .nav__item--index a {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}
