body {
  background-color: #eefffa;
  padding: 20px;
  margin: 0;
  color: #001d1f;
  font-family: 'Raleway', sans-serif;
}
h1,
h2 {
  font-family: 'Alice', serif;
}
.menu {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
}
.menu li {
  margin-bottom: 10px;
  display: inline-block;
  list-style-type: none;
}
.menu li a {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  padding: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.menu li a:hover {
  color: #000000;
}
.menu li a.menu__index {
  font-size: 20px;
}
